body
{
    background-color: #D8B5DE;
    font-family: 'Raleway', sans-serif;

}

main{
    height: 800px;
    margin-left: 200px;
    margin-top: 50px;
}
h2, p, h1
{
    color: white;
}
.readMore
{
    color: white;
}
.introText
{
    width: 800px;
}
.newsItem1, .newsItem2
{
    width: 700px;
}
.algemeenText
{
    width: 90%;
}