body
{
    background-color: #D8B5DE;
    font-family: 'Raleway', sans-serif;

}

main{
    height: 800px;
    margin-left: 200px;
    margin-top: 50px;
}
h2, p, h1
{
    color: white;
}
.readMore
{
    color: white;
}
.introText
{
    width: 800px;
}
.newsItem1, .newsItem2
{
    width: 700px;
}
.algemeenText
{
    width: 90%;
}
/*Responsive header */
@media screen and (min-width: 600px) {
    .header{
        width: 1519px;
    }
    .link{
        width: 178px !important;
        margin-left: 10px;
    }
    body
    {
        height: 1200px;
        width: 1519px;
    }
    Footer
    {
        margin-top: 150px;
        width: 1519px;
    }
    .contactBody
    {
        height: 1200px !important;
        width: 1000px !important;
    }
}
/* responsive pagina */
@media screen and (max-width: 1000px) {
    /* tekst op index pagina */
     .newsItem1, .newsItem2, .introText, .readMore
    {
        font-size: 30px;
        width: 1000px;
    }
    f.contactFooter
    {
        width: 170% !important;
        margin-top: 1160px;
        height: 200px !important;
    }
    /* koptekst op index pagina */
    h2
    {
        font-size: 40px;
    }
    /* tekst op algemeen pagina */
    .algemeenText
    {
        font-size: 30px;
        width: 1000px;
    }
    /* contact pagina */
    tr
    {
        width: 500px;
        height: 100px;
        font-size: 40px;
    }
    h3
    {
        font-size: 80px;
    }
    button
    {
        height: 100px;
        width: 300px;
        font-size: 60px;
    }
    .input input
    {
        width: 439px;
        height: 40px;
    }
    .contact
    {
        margin-top: 250px !important;
    }
    .AlgemeenFooter
    {
        margin-top: 150px;
        width: 1519px;
    }
    footer
    {
        width: 170% !important;
        margin-top: 1355px;
        height: 200px !important;
    }
}