body
{
    background-color: #D8B5DE;
    font-family: 'Raleway', sans-serif;
    align-items: center;
}
main{
    height: 800px;
}

.input{
    border: 2px solid red;
    align-content: center;
}

.lost{
    color: red;
}

.win{
    color: green;
}

.tableHeader{
    font-weight: bold;
}

.participants{
    width: 700px;
    border: 1px solid black;
}

.participants th{
    border: 0.5px solid black;
}